hr {
    position: relative
}

body {
    background-color: darkgray;
}

a#new-post {
    font-size: 15pt;
    font-weight: bold;
    margin: auto;
    display: table;
}

a.close-button {
    float: right;
    font-size: 100%;
}

fieldset {
    border: none
}

form#postform {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    background-color: paleturquoise;
    border: 1px solid #000;
    padding: 5px;
    display: none;
}

form#postform:target {
    display: block;
}

form th {
    background-color: turquoise;
}

form label {
    text-align: left;
    display: inline-block;
    width: 120px;
    vertical-align: top;
    margin-right: 5px;
    padding: 4px;
}

form#postform>label {
    width: 80px;
}

textarea {
    border: 1px solid #000;
    width: 100%;
    resize: both;
    min-width: 200px;
}

form input {
    border: 1px solid #000;
    width: 200px;
    padding: 1px;
}
form input[type="submit"] {
    float: right;
}

form input[type="file"] {
    width: 100%;
}


div.post-container {
    padding-top: 25px;
    margin-top: -25px;
}

div.post {
    background-color: paleturquoise;
    padding: 10px;
    border: 1px solid #000;
    display: inline-block;
    margin-bottom: 10px;
    max-width: 1150px;
    word-wrap: break-word;
}

img.post-file-thumbnail, video.post-video {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

div.post>div.post-header {
    margin-bottom: 5px;
}

div.post>div.post-header>span.post-subject {
    font-weight: bold;
    color: #016;
}

a.post-email {
    color: slategray;
    text-decoration: none;
}

a.post-email:hover{
    text-decoration: underline slategray;
}

div.post>div.post-header>span.post-name {
    font-weight: bold;
    color: #070;
}

div.post-comment {
    white-space: pre-wrap;
}

div.post-file-info {
    font-size: 12px;
    margin-top: -5px;
}

.invisible {
    display: none;
}

div.container {
    margin: auto;
    background-color: #CED;
    border: 1px solid #000;
    padding: 10px;
}

div.container.narrow {
    max-width: 670px;
}

/* Post formatting */
span.greentext {
    color: #070;
}

span.pinktext {
    color: #A66;
}

span.redtext {
    color: #E33;
    font-weight: bolder;
    font-size: 13pt;
    letter-spacing: 0.5px;
}

span.spoiler {
    background-color: #000;
    color: #000;
}

span.spoiler:hover {
    color: #FFF;
}

span.echo {
    color: #33D;
    background-color: #FFF;
}
