hr {
    position: relative
}

fieldset {
    border: none
}

form#postform {
    top: 30px;
    right: 10px;
    background-color: #BDC;
    border: 1px solid #000;
    padding: 5px;
}

form label {
    background-color: #ACB;
    text-align: left;
    display: inline-block;
    width: 120px;
    vertical-align: top;
    margin-right: 5px;
    padding: 4px;
}

form#postform>label {
    width: 80px;
}

textarea {
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #000;
    width: calc(100% - 75px);
    resize: both;
}

form input {
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #000;
    width: 200px;
}

div.post-container {
    padding-top: 25px;
    margin-top: -25px;
}

div.post {
    background-color: #BDC;
    padding: 10px;
    border: 1px solid #000;
    display: inline-block;
    margin-bottom: 10px;
    max-width: 1150px;
    word-wrap: break-word;
}

img.post-file-thumbnail, video.post-video {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

div.post>div.post-header {
    margin-bottom: 5px;
}

div.post>div.post-header>span.post-name {
    font-weight: bold;
    color: #070;
}

div.post-comment {
    white-space: pre-wrap;
}

.invisible {
    display: none;
}

div.container {
    margin: auto;
    background-color: #CED;
    border: 1px solid #000;
    padding: 10px;
}

div.container.narrow {
    max-width: 670px;
}

/* Post formatting */
span.greentext {
    color: #070;
}

span.pinktext {
    color: #A66;
}

span.redtext {
    color: #E33;
    font-weight: bolder;
    font-size: 11pt;
    letter-spacing: -0.7px;
}

span.spoiler {
    background-color: #000;
    color: #000;
}

span.spoiler:hover {
    color: #FFF;
}
