/*** General rules ***/

hr {
    position: relative
}

body {
    background-color: darkgray;
    font-family: sans-serif;
    font-size: 11pt;
    padding-top: 30px;
}

a, summary {
    color: darkslategray;
    text-decoration: none;
}

ul {
    list-style-type: katakana;
}

a:hover, summary:hover {
    text-decoration: underline slategray;
    cursor: pointer;
}

div#content {
    margin-top: 30px;
}

.invisible {
    display: none;
}

div.container {
    margin: auto;
    background-color: paleturquoise;
    border: 1px solid #000;
    padding: 10px;
}

div.container.narrow {
    max-width: 670px;
}

h1 {
    background: turquoise;
    text-align: center;
}

h2 {
    background: turquoise;
    padding-left: 10pt;
}

/*** Posting forms ***/

div.form-container {
    padding-top: 30px;
    margin-top: -30px;
    display: none;
}

div.form-container:target {
    display: block;
}

a#new-post {
    font-size: 15pt;
    font-weight: bold;
    margin: auto;
    display: table;
}

a.close-button {
    float: right;
    font-size: 100%;
}

fieldset {
    border: none;
}

fieldset>form {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    background-color: paleturquoise;
    border: 1px solid #000;
    padding: 5px;
}

form th {
    background-color: turquoise;
}

form label {
    text-align: left;
    display: inline-block;
    width: 120px;
    vertical-align: top;
    margin-right: 5px;
    padding: 4px;
}

fieldset>form>label {
    width: 80px;
}

textarea {
    border: 1px solid #000;
    width: 100%;
    resize: both;
    min-width: 200px;
}

form input {
    border: 1px solid #000;
    width: 200px;
    padding: 1px;
}
form input[type="submit"] {
    float: right;
}

form input[type="file"] {
    width: 100%;
    max-width: 400px;
}

/*** Post style ***/

div.post {
    background-color: paleturquoise;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 5px;
    max-width: 1150px;
    word-wrap: break-word;
}

div.post-container {
    padding-top: 30px;
    margin-top: -30px;
}

div.post-container:target .post {
    border: 2px dashed darkred;
    background-color: turquoise;
}

img.post-file-thumbnail, video.post-video {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

div.post>div.post-header {
    margin-bottom: 5px;
    font-size: 12pt;
}

div.post>div.post-header>span.post-subject {
    font-weight: bold;
    color: #016;
}

a.post-email {
    color: slategray;
    text-decoration: none;
}

a.post-email:hover{
    text-decoration: underline slategray;
}

div.post>div.post-header>span.post-name {
    font-weight: bold;
    color: #070;
}

div.post-comment {
    white-space: pre-wrap;
    margin: 5px;
}

div.post-file-info {
    background-color: #b5e8e8;
    font-size: 12px;
    margin-top: -5px;
}

/*** Catalog ***/

div.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

div.catalog-thread {
    width: 170px;
    height: 250px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 2px;
    background-color: paleturquoise;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
}

div.catalog-thread>div.catalog-thread-subject {
    font-weight: bold;
    color: #016;
}

div.catalog-thread>div.catalog-thread-latest-post {
    color: #636363;
    font-size: 8pt;
}

div.catalog-thread-link {
    font-size: 15pt;
}

img.catalog-thumbnail {
    max-width: 100%;
}

/*** Post text formatting ***/

span.greentext {
    color: #070;
}

span.pinktext {
    color: #A66;
}

span.redtext {
    color: #E33;
    font-weight: bolder;
    font-size: 13pt;
    letter-spacing: 0.5px;
}

span.spoiler {
    background-color: #000;
    color: #000;
}

span.spoiler:hover {
    color: #FFF;
}

span.echo {
    color: #33D;
    background-color: #FFF;
}

/*** Navbar ****/

div#topbar {
    z-index: 999;
    height: 30px;
}

div#topbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

div#topbar>nav#topnav {
    background-color: paleturquoise;
    padding: 2px;
    padding-left: 8px;
    border-bottom: 1px solid #000;
    height: auto;;
}

div#topbar>nav#topnav>ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

ul#shortcuts {
    float: right;
}

#board-navigation :before, :after {
    font-family: inherit;
    font-size: inherit;
}

#board-navigation li:first-child:before {
    content: "[";
    padding-right: 10px;
}

#board-navigation li:last-child::after {
    content: "]";
    padding-left: 10px;
}

ul#board-navigation li + li:before {
    content: "/";
    padding-right: 10px;
}

div#topbar>nav#topnav>ul>li {
    display: inline-block;
    padding: 2px;
    padding-right: 8px;
}

/*** Info box ***/

div.infobox-content {
    top: 30px;
    right: 5px;
    position: absolute;
    display: block;
    width: 300px;
    background-color: turquoise;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    max-width: 1150px;
    word-wrap: break-word;
    resize: both;
    overflow: auto;
}

/** Recent page **/

a.recent-threadlink {
    position: relative;
    display: block;
    color: darkred;
    font-size: 14pt;;
    background-color: gray;
    width: 100%;
}
a.recent-threadlink::after {
    content: "↴";
}